.cart-item {
    display: grid;
    place-items: center;
    width: 95%;
    grid-template-columns: repeat(4, 25%);
}

.cart-item > p {
    font-size: 2rem;
}

.cart-item > button {
   
}

/*
.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
    width: 100%;
}

.actions > button {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0%, -50%);
   
} 
*/

.actions {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr min-content;
    place-items: center;
    font-size: 2rem;
}


