.heroContainer {
    height: 90vh;
    background-image: radial-gradient(red, rgb(235, 33, 67));
    position: relative;
}

.heroImage{
    position: absolute;
    transform: scale(1);
    top: 20%;
    left: 65%;
}



