.orderForm {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 2rem;
}


.orderForm > input {
    width: 50%;
    padding: 1rem 2rem;
    border: 1px rgb(223, 185, 185) solid;
    
}

.orderForm > label {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.error {
    background-color: rgb(255, 164, 164);
}

@media only screen and (max-width: 37.5em) {
    .orderForm > input {
        width: 60%;
        padding: 1rem 2rem;
        border: 1px rgb(223, 185, 185) solid;
        
    }
} 