.about {
    text-align: center;
    height: 80vh;
    background-image: radial-gradient(rgb(24, 179, 24), rgb(4, 177, 4));
    box-sizing: border-box;
}

.header {
    font-size: 6rem;
    color: white;
    letter-spacing: 1rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

