
.tabContent {
    color: white;
    grid-row: 1/2;
    font-size: 2rem;
    grid-column: 1 / span 3;
    padding: 10rem 30rem;
}

@media only screen and (max-width: 37.5em) {
    .tabContent {
        text-align:top;
        padding: 0rem 3rem 5rem 3rem;
        
    }
} 




