
.tabContent {
    display: grid;
    place-items: center;
    color: white;
    grid-row: 2/3;
    font-size: 2rem;
    grid-column: 1 / span 3;
    grid-template-rows: min-content max-content;
    padding: 10rem 30rem;
    box-sizing: border-box;
}

.tabContent:first-of-type {
    margin-top: 10rem;
}