
.tab > button {

    height: 7vh;
    width: 40vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10rem;
    border: none;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
